
[Unit]
Description=Dump the Docker environment variables

[Service]
Type=oneshot
ExecStart=/root/configurator_dumpenv.sh
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=basic.target