[Unit]
Description=Configure stuff from environment variables
ConditionFileIsExecutable=/root/configurator.sh
Requires=configurator_dumpenv.service
After=configurator_dumpenv.service

[Service]
Type=oneshot
ExecStart=/root/configurator.sh
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=basic.target
